{% extends "login.html" %}
{% load static %}
{% load user_tags  %}

{% block content %}
    <div class="wrap left-120">
        {% block logo %}
            <div class="logo"></div>
        {% endblock logo %}
        {% block menu-left %}
        {% endblock menu-left %}
        {% block help-text %}
            <p><br></p>
        {% endblock help-text %}

            <div class="login">
                {% block form-login %}
                <form action="" method="post">
                    {% csrf_token %}
                    <h1>Восстановление пароля</h1>
                    <p>Введите адрес электронной почты, с которым Вы заходите в систему EMIS</p>
                    <input type="text" name="email">
                    <button type="submit" class="btn_green">восстановить пароль</button>
                </form>
                {% endblock form-login %}
            </div>


        {% block registry-newuser %}

        {% endblock registry-newuser %}
    </div>

{% endblock content %}