{% extends "login.html" %}
{% block content %}
    <div class="wrap left-120">
        {% block logo %}
            <div class="logo"></div>
        {% endblock logo %}
        {% block menu-left %}
        {% endblock menu-left %}
        {% block help-text %}
            <p><br></p>
        {% endblock help-text %}
        
            <div class="login">
                {% block form-login %}
                <form action="" method="post">
                    {% csrf_token %}
                    <h1>Создание пароля</h1>
                    {{form}}
                    <button type="submit" class="btn_green">Сохранить и продолжить</button>
                </form>
                {% endblock form-login %}
            </div>          
        

        {% block registry-newuser %}
             
        {% endblock registry-newuser %}  
    </div>
{% endblock content %}

