*.swp
.vscode/
__pycache__/
*.pyc
*.csv
node_modules/
wsgi_django.py
wsgi_websocket.py
XDG_CACHE_HOME/
venv/
staticfiles/
*.pyc
*.py[cod]
!app/src/media/
!app/src/static/
!app/modules/*/static
!app/manager/static/
templates/_admin
celerybeat-schedule
media/uploads/img/foto/*.jpg
media/_versions/img/foto/*.jpg
media/files
db_data/
db_dump/
.env
.idea/